@use '../../variables';
.product-list{
    @media (min-width: 1080px) {
        margin: 0 140px;
    }

    &__main-section {
       background-color: variables.$white;
       border-radius: 4px;
       padding: 16px;
       padding-top: 0;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}