@use '../../variables';

input:focus{
    outline: none;
}
.navbar-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: variables.$yellow;
    padding: 0 140px;

    &__logo {
        width: 53px;
        height: 36px;
        margin-right: 20px;
    }

    &__search-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        margin:8px 0;
        flex: 1;
        position: relative;
    }

    &__input {
        flex: 1;
        padding: 12px;
        border:none;
        border-radius: 4px 0 0 4px;
        height: 16px;
        font-size: variables.$mediumfs;
    }

    &__search-image {
        width: 18px;
        height: 18px;
    }

    &__search-button {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: variables.$soft-gray;
        border: none;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0px 4px 4px 0px;
    }
}