// colors
$yellow: #FFE600;
$black: #333333;
$gray: #999999;
$white: #ffffff;
$soft-gray: #EEEEEE;
$blue: #3483FA;

// font sizes
$smallfs: 12px;
$basefs: 14px;
$mediumfs: 18px;
$focusfs: 24px;
$sub-sectionfs: 28px;
$sectionfs: 46px;

